#portfolio-title{
  background-color: cyan;
  border-style: solid;
}
.subheader{
 text-align:center; 
}
.bod{
  text-align:center;
}
/* The animation code */
@keyframes example {
    from {background-color: black;}
    to {background-color: cyan;}
}

/* The element to apply the animation to */
navbar-header {
    width: 100px;
    height: 100px;
    background-color: black;
    animation-name: example;
    animation-duration: 7s;
}
