#portfolio-title {
  text-align: left;
  font-family: "Arial", Arial, sans-serif;
  border-bottom-style: solid;
  border-color: grey;
}
p {
  text-align: left;
  font-family: "Arial", Arial, sans-serif;
}
.navbar-header {
    
}

