#portfolio-title{
  background-color: rgb(74, 128, 254);
  border-style: solid;
}
.subheader{
 text-align:center; 
}
.bod{
  text-align:center;
}
/* The animation code */
@keyframes example {
    from {background-color: black;}
    to {background-color: white;}
}

/* The element to apply the animation to */
body {
    width: 90px;
    height: 90px;
    background-color: white;
    animation-name: example;
    animation-duration: 2s;
}
@keyframes header {
    from {background-color: white;}
    to {background-color: rgb(74, 128, 254);}
}
#portfolio-title {
    background-color: rgb(74, 128, 254);
    animation-name: header;
    animation-duration: 4s;
}
